*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f8f8;
    padding-top: 4rem;
}

.project-management-board{
    width: 80%;
    height: auto;
    background-color: white;
    border: 2px solid #f3f3f3;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.7rem;

}

.project-list{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #f7f7f7;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: 
}



.left-list-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem
    

}

.list-tittle-section{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
}

.tittle-container{
    width: fit-content;
    height: auto;
}

.tittle-container h1{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #121212;
    letter-spacing: 0.25px;

}

.small-button-container{
    width: fit-content;
    height: auto;
    padding: 0.1rem 0.3rem;
    background-color: #eefff6;
    border-radius: 0.3rem;
    border: 1px solid rgb(5, 99, 5);
}
 
.small-button-container p{
    font-size:12px;
    color: #2c7f5c;
}

.bottom-left-content{
    width: fit-content;
    height: auto;
}

.bottom-card-text{
    width: fit-content;
    height: auto;
}

.bottom-card-text p{
    font-size: 0.8rem;
    color: #9b9b9b;
}

.right-list-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.right-button-container{
    width: fit-content;
    height: auto;
    
}

.right-button-container button{
    background-color: white;
    border: 2px solid #e3e3e3;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: grey;
    
}

.right-icon-container{
    width: fit-content;
    height: auto;
}

.right-icon-container img{
    width: 1.5rem;
    height: 1.5rem;
}



    @media (max-width:768px){
        .right-button-container{
            display: none;
        }

        .right-button-container button{
            display: none;
        }

        .project-management-board{
            width: 94%;
            height: auto;
            background-color: white;
            border: 2px solid #f3f3f3;
            margin: 0 auto;
            padding: 2rem;
            border-radius: 0.7rem;
        
        }
    }